**Analysis owner**: Felipe Matheus <br>
**Date**: 12/10/2021 <br>
**Related Links**:

The objective of this notebook is to download porcesssed data from eda notebook and do a simple classification (identification) model.

# Index

1. Setup
2. Loading data
3. Launching H2O AutoML
4. Verifying results
5. Conclusions

# 1. Setup

In [7]:
import os
import h2o
import sys
import json
import pickle
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         21 mins 35 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    19 days
H2O_cluster_name:           H2O_from_python_ff268477_ugo4gy
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.456 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.10 final
--------------------------  ------------------------------------------------------------------

In [9]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from src.feature_engineering.FeatureEngineering import FeatureEngineering
from src.DataLoader import DataLoader
from src.modeling.Modeling import Modeling
from src.processing.Processing import Processing
from src.utils import read_files

Variables

In [10]:
pd.options.display.max_rows = 6
with open('../config/variables.json') as json_file:
    var = json.load(json_file)
STRUCTURED_DATA = var.get('STRUCTURED_DATA')
RAW_DATA = var.get('RAW_DATA')

Objects

In [11]:
feng = FeatureEngineering()
modeling = Modeling()
processing = Processing()
load = DataLoader(RAW_DATA)

# 2. Loading Data

In [20]:
fits = load.load_fits(read_files(RAW_DATA))
energies = processing.get_energy_dict(fits)
pca_object = pickle.load(open(STRUCTURED_DATA+"pca.pkl","rb"))
test_data = pd.read_pickle(STRUCTURED_DATA + "dataframe_1200-combinations_33890-photons.pkl")

In [77]:
models = {
    label: h2o.import_mojo(STRUCTURED_DATA + f"{label}_best-model_3-models_seed-1")
for label in energies.keys()}

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21218


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,435.0,435.0,497990.0,1.0,15.0,13.018391,2.0,149.0,86.308044

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 0.0
RMSE: 0.0
LogLoss: 0.0
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric     threshold  value    idx
0         max f1  1.000000e+00    1.0    0.0
1         max f2  1.000000e+00    1.0    0.0
2   max f0point5  1.000000e+00    1.0    0.0
..           ...           ...    ...    ...
15       max fnr  1.000000e+00    0.0    0.0
16       max fpr  1.000000e-19    1.0  399.0
17       max tpr  1.000000e+00    1.0    0.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.285714,1.000000e+00,3.5,3.500000,1.0,1.000000e+00,1.000000,1.000000,1.0,1.0,250.0,250.000000,1.00
1,2,0.300000,1.779173e-19,0.0,3.333333,0.0,3.915870e-19,0.952381,0.952381,0.0,1.0,-100.0,233.333333,0.98
2,3,1.000000,1.000000e-19,0.0,1.000000,0.0,1.006415e-19,0.285714,0.285714,0.0,1.0,-100.0,0.000000,0.00

ModelMetricsBinomialGeneric: generic
** Reported on cross-validation data. **

MSE: 7.287963472093921e-35
RMSE: 8.536956994206964e-18
LogLoss: 1.5419764230904955e-19
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric     threshold  value    idx
0         max f1  1.000000e+00    1.0    0.0
1         max f2  1.000000e+00    1.0    0.0
2   max f0point5  1.000000e+00    1.0    0.0
..           ...           ...    ...    ...
15       max fnr  1.000000e+00    0.0    0.0
16       max fpr  1.000007e-19    1.0  399.0
17       max tpr  1.000000e+00    1.0    0.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.285714,1.0,3.5,3.5,1.0,1.0,1.000000,1.000000,1.0,1.0,250.0,250.0,1.0
1,2,1.000000,0.0,0.0,1.0,0.0,0.0,0.285714,0.285714,0.0,1.0,-100.0,0.0,0.0

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
1,auc,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
2,err,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...
17,recall,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
18,rmse,8.044055e-18,6.667441e-18,3.127699e-18,5.417334e-18,1.978131e-17,5.638539e-18,6.255398e-18
19,specificity,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:17:03,41.608 sec,0.0,0.451754,0.598270,0.5,0.285714,1.0,0.714286
1,,2021-10-26 15:17:03,41.720 sec,5.0,0.267537,0.290827,1.0,1.000000,3.5,0.000000
2,,2021-10-26 15:17:03,41.870 sec,10.0,0.160590,0.161332,1.0,1.000000,3.5,0.000000
...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:17:05,43.506 sec,85.0,0.000095,0.000086,1.0,1.000000,3.5,0.000000
18,,2021-10-26 15:17:05,43.617 sec,90.0,0.000058,0.000052,1.0,1.000000,3.5,0.000000
19,,2021-10-26 15:17:05,43.730 sec,95.0,0.000035,0.000032,1.0,1.000000,3.5,0.000000

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance    percentage
0         2         17682.128906       1.000000e+00  6.992372e-01
1         1          3339.911133       1.888863e-01  1.320763e-01
2         3          1403.233521       7.935886e-02  5.549066e-02
..      ...                  ...                ...           ...
17        7             0.004711       2.664249e-07  1.862942e-07
18       40             0.003879       2.193606e-07  1.533851e-07
19       25             0.003708       2.097126e-07  1.466389e-07

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21219


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 6.111E-5 ),"nlambda = 30, lambda.max = 37.948, lambda.min = 6.111E-5, lambda.1...",42,42,74,AutoML_2_20211026_151727_training_Key_Frame__upload_addc733d46326d...

ModelMetricsBinomialGLMGeneric: generic
** Reported on train data. **

MSE: 1.8582250901565264e-07
RMSE: 0.00043107135026078066
LogLoss: 0.0003876838289791107
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.787264698105
Residual deviance: 19.539264980547223
AIC: 105.53926498054722
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9990259008864969:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999026  1.000000  229.0
1         max f2   0.999026  1.000000  229.0
2   max f0point5   0.999026  1.000000  229.0
..           ...        ...       ...    ...
15       max fnr   0.999563  0.999861    0.0
16       max fpr   0.000183  1.000000  399.0
17       max tpr   0.999026  1.000000  229.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999441,3.5,3.500000,1.0,0.999465,1.000000,0.999465,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999420,3.5,3.500000,1.0,0.999430,1.000000,0.999447,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999407,3.5,3.500000,1.0,0.999413,1.000000,0.999436,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000258,0.0,1.250000,0.0,0.000262,0.357143,0.357082,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000248,0.0,1.111111,0.0,0.000253,0.317460,0.317434,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000183,0.0,1.000000,0.0,0.000236,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

ModelMetricsBinomialGLMGeneric: generic
** Reported on cross-validation data. **

MSE: 2.7661211713447997e-07
RMSE: 0.0005259392713369862
LogLoss: 0.0004729982618399661
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.789452197045
Residual deviance: 23.8391123967343
AIC: 109.8391123967343
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9988173287766486:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.998817  1.000000  227.0
1         max f2   0.998817  1.000000  227.0
2   max f0point5   0.998817  1.000000  227.0
..           ...        ...       ...    ...
15       max fnr   0.999475  0.999861    0.0
16       max fpr   0.000225  1.000000  399.0
17       max tpr   0.998817  1.000000  227.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999315,3.5,3.500000,1.0,0.999345,1.000000,0.999345,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999291,3.5,3.500000,1.0,0.999303,1.000000,0.999324,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999275,3.5,3.500000,1.0,0.999282,1.000000,0.999310,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000315,0.0,1.250000,0.0,0.000320,0.357143,0.357068,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000302,0.0,1.111111,0.0,0.000309,0.317460,0.317428,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000225,0.0,1.000000,0.0,0.000288,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
1,auc,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
2,err,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
17,r2,0.999999,NaN,0.999999,0.999999,0.999999,0.999999,0.999999
18,recall,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
19,residual_deviance,3.126382,0.00989,3.134595,3.126066,3.128984,3.109691,3.132573

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:17:35,0.000 sec,2,.38E2,13,1.185872,1.188,0.00016,0.0,None,,,,,,,
1,,2021-10-26 15:17:35,0.023 sec,4,.24E2,19,1.179446,1.182843,0.000158,0.0,None,,,,,,,
2,,2021-10-26 15:17:35,0.047 sec,6,.15E2,26,1.16923,1.174625,0.000155,0.0,None,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:17:36,0.400 sec,41,.12E-1,43,0.063872,0.075984,0.000038,0.0,None,,,,,,,
18,,2021-10-26 15:17:36,0.424 sec,44,.72E-2,43,0.043935,0.052476,0.00003,0.0,None,,,,,,,
19,,2021-10-26 15:17:36,0.444 sec,47,.44E-2,43,0.030004,0.035954,0.000023,0.0,None,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0         5             5.889277           1.000000    0.486523
1         3             3.483088           0.591429    0.287744
2         4             1.260467           0.214027    0.104129
..      ...                  ...                ...         ...
17       33             0.007579           0.001287    0.000626
18       32             0.006149           0.001044    0.000508
19       10             0.005886           0.000999    0.000486

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21220

No model summary for this model

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 8.4084289891752e-06
RMSE: 0.0028997291234139785
LogLoss: 0.0026511021435150464
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.99549422806374:

           False    True Error            Rate
0  False  7138.0     0.0   0.0    (0.0/7138.0)
1   True     0.0  2897.0   0.0    (0.0/2897.0)
2  Total  7138.0  2897.0   0.0   (0.0/10035.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold  value  idx
0         max f1   0.995494    1.0  0.0
1         max f2   0.995494    1.0  0.0
2   max f0point5   0.995494    1.0  0.0
..           ...        ...    ...  ...
15       max fnr   0.995494    0.0  0.0
16       max fpr   0.001892    1.0  1.0
17       max tpr   0.995494    1.0  0.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.87 %, avg score: 28.87 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.28869,0.995494,3.463928,3.463928,1.0,0.995494,1.00000,0.995494,1.0,1.0,246.39282,246.39282,1.0
1,2,1.00000,0.001892,0.000000,1.000000,0.0,0.001892,0.28869,0.288735,0.0,1.0,-100.00000,0.00000,0.0

ModelMetricsBinomialGeneric: generic
** Reported on cross-validation data. **

MSE: 8.360029517626033e-06
RMSE: 0.0028913715633979028
LogLoss: 0.0026434794475108958
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.995477153999298:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value  idx
0         max f1   0.995477  1.000000  4.0
1         max f2   0.995477  1.000000  4.0
2   max f0point5   0.995477  1.000000  4.0
..           ...        ...       ...  ...
15       max fnr   0.995507  0.809028  0.0
16       max fpr   0.001872  1.000000  9.0
17       max tpr   0.995477  1.000000  4.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.58 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.054563,0.995507,3.5,3.500000,1.0,0.995507,1.000000,0.995507,0.190972,0.190972,250.0,250.000000,0.190972
1,2,0.110635,0.995504,3.5,3.500000,1.0,0.995504,1.000000,0.995506,0.196250,0.387222,250.0,250.000000,0.387222
2,3,0.167421,0.995497,3.5,3.500000,1.0,0.995497,1.000000,0.995503,0.198750,0.585972,250.0,250.000000,0.585972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,7,0.717222,0.001895,0.0,1.394268,0.0,0.001895,0.398362,0.397712,0.000000,1.000000,-100.0,39.426801,0.395889
7,8,0.859524,0.001883,0.0,1.163435,0.0,0.001883,0.332410,0.332179,0.000000,1.000000,-100.0,16.343490,0.196667
8,9,1.000000,0.001872,0.0,1.000000,0.0,0.001872,0.285714,0.285779,0.000000,1.000000,-100.0,0.000000,0.000000

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21221


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 4.876E-5 ),"nlambda = 30, lambda.max = 30.281, lambda.min = 4.876E-5, lambda.1...",42,42,75,AutoML_4_20211026_151930_training_Key_Frame__upload_b12076ce88816a...

ModelMetricsBinomialGLMGeneric: generic
** Reported on train data. **

MSE: 1.2465931720651885e-07
RMSE: 0.00035307126363741197
LogLoss: 0.00031729431884332417
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.787264697956
Residual deviance: 15.991633669703546
AIC: 101.99163366970355
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9991173984709539:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999117  1.000000  256.0
1         max f2   0.999117  1.000000  256.0
2   max f0point5   0.999117  1.000000  256.0
..           ...        ...       ...    ...
15       max fnr   0.999638  0.999722    0.0
16       max fpr   0.000160  1.000000  399.0
17       max tpr   0.999117  1.000000  256.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999555,3.5,3.500000,1.0,0.999574,1.000000,0.999574,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999537,3.5,3.500000,1.0,0.999545,1.000000,0.999560,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999524,3.5,3.500000,1.0,0.999530,1.000000,0.999550,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000214,0.0,1.250000,0.0,0.000217,0.357143,0.357091,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000208,0.0,1.111111,0.0,0.000212,0.317460,0.317438,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000160,0.0,1.000000,0.0,0.000201,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

ModelMetricsBinomialGLMGeneric: generic
** Reported on cross-validation data. **

MSE: 1.858600579518875e-07
RMSE: 0.00043111490110165235
LogLoss: 0.0003873874977036983
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.796014165735
Residual deviance: 19.524329884266425
AIC: 105.52432988426642
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9989156442646359:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.998916  1.000000  254.0
1         max f2   0.998916  1.000000  254.0
2   max f0point5   0.998916  1.000000  254.0
..           ...        ...       ...    ...
15       max fnr   0.999559  0.999722    0.0
16       max fpr   0.000193  1.000000  399.0
17       max tpr   0.998916  1.000000  254.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010000,0.999453,3.5,3.500000,1.0,0.999478,1.000000,0.999478,0.035,0.035,250.0,250.000000,0.035000
1,2,0.020000,0.999432,3.5,3.500000,1.0,0.999441,1.000000,0.999460,0.035,0.070,250.0,250.000000,0.070000
2,3,0.030000,0.999417,3.5,3.500000,1.0,0.999424,1.000000,0.999448,0.035,0.105,250.0,250.000000,0.105000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.800040,0.000261,0.0,1.249938,0.0,0.000264,0.357125,0.357062,0.000,1.000,-100.0,24.993800,0.279944
14,15,0.900119,0.000253,0.0,1.110964,0.0,0.000258,0.317418,0.317391,0.000,1.000,-100.0,11.096416,0.139833
15,16,1.000000,0.000193,0.0,1.000000,0.0,0.000245,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,auc,1.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,err,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
17,r2,1.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
18,recall,1.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
19,residual_deviance,2.55786,0.007567,2.565512,2.554901,2.548133,2.555161,2.565594

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:19:38,0.000 sec,2,.3E2,7,1.183197,1.185856,0.000322,0.0,None,,,,,,,
1,,2021-10-26 15:19:38,0.015 sec,4,.19E2,8,1.175187,1.179421,0.000320,0.0,None,,,,,,,
2,,2021-10-26 15:19:38,0.033 sec,6,.12E2,10,1.162494,1.169193,0.000317,0.0,None,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:19:39,0.324 sec,42,.92E-2,43,0.053548,0.063828,0.000037,0.0,None,,,,,,,
18,,2021-10-26 15:19:39,0.346 sec,45,.57E-2,43,0.036703,0.043908,0.000028,0.0,None,,,,,,,
19,,2021-10-26 15:19:39,0.374 sec,48,.35E-2,43,0.024983,0.029983,0.000021,0.0,None,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0         5             4.820487           1.000000    0.373010
1         3             4.719257           0.979000    0.365177
2         4             2.408528           0.499644    0.186372
..      ...                  ...                ...         ...
17       41             0.002445           0.000507    0.000189
18       32             0.002271           0.000471    0.000176
19       37             0.002198           0.000456    0.000170

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21222


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 6.376E-5 ),"nlambda = 30, lambda.max = 39.595, lambda.min = 6.376E-5, lambda.1...",42,39,74,AutoML_5_20211026_152039_training_Key_Frame__upload_8ae06f2b414655...

ModelMetricsBinomialGLMGeneric: generic
** Reported on train data. **

MSE: 1.981792488327689e-07
RMSE: 0.00044517327955838603
LogLoss: 0.0004019798315671773
Null degrees of freedom: 25199
Residual degrees of freedom: 25160
Null deviance: 30152.787264698236
Residual deviance: 20.25978351098577
AIC: 100.25978351098577
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9991498341628031:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999150  1.000000  260.0
1         max f2   0.999150  1.000000  260.0
2   max f0point5   0.999150  1.000000  260.0
..           ...        ...       ...    ...
15       max fnr   0.999405  0.999861    0.0
16       max fpr   0.000255  1.000000  399.0
17       max tpr   0.999150  1.000000  260.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999352,3.5,3.500000,1.0,0.999363,1.000000,0.999363,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999343,3.5,3.500000,1.0,0.999347,1.000000,0.999355,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999337,3.5,3.500000,1.0,0.999340,1.000000,0.999350,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000277,0.0,1.250000,0.0,0.000279,0.357143,0.357075,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000274,0.0,1.111111,0.0,0.000276,0.317460,0.317430,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000253,0.0,1.000000,0.0,0.000270,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

ModelMetricsBinomialGLMGeneric: generic
** Reported on cross-validation data. **

MSE: 2.953241709527173e-07
RMSE: 0.0005434373661726964
LogLoss: 0.0004904628936222565
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.79492147906
Residual deviance: 24.719329838561713
AIC: 110.71932983856172
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9989594391403173:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.998959  1.000000  251.0
1         max f2   0.998959  1.000000  251.0
2   max f0point5   0.998959  1.000000  251.0
..           ...        ...       ...    ...
15       max fnr   0.999278  0.999861    0.0
16       max fpr   0.000300  1.000000  399.0
17       max tpr   0.998959  1.000000  251.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010000,0.999213,3.5,3.500000,1.0,0.999227,1.000000,0.999227,0.035,0.035,250.0,250.000000,0.035000
1,2,0.020000,0.999201,3.5,3.500000,1.0,0.999207,1.000000,0.999217,0.035,0.070,250.0,250.000000,0.070000
2,3,0.030000,0.999193,3.5,3.500000,1.0,0.999197,1.000000,0.999210,0.035,0.105,250.0,250.000000,0.105000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.800317,0.000337,0.0,1.249504,0.0,0.000339,0.357001,0.356918,0.000,1.000,-100.0,24.950417,0.279556
14,15,0.900119,0.000332,0.0,1.110964,0.0,0.000335,0.317418,0.317381,0.000,1.000,-100.0,11.096416,0.139833
15,16,1.000000,0.000300,0.0,1.000000,0.0,0.000327,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,auc,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,err,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
17,r2,0.999999,0.000000,0.999999,0.999999,0.999999,0.999999,0.999999
18,recall,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
19,residual_deviance,3.242776,0.003456,3.239588,3.248203,3.241933,3.243878,3.240279

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:20:46,0.000 sec,2,.4E2,7,1.18631,1.188353,0.000302,0.0,None,,,,,,,
1,,2021-10-26 15:20:46,0.022 sec,4,.25E2,8,1.180146,1.183407,0.000301,0.0,None,,,,,,,
2,,2021-10-26 15:20:46,0.040 sec,6,.15E2,9,1.17034,1.175524,0.000299,0.0,None,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:20:47,0.313 sec,41,.12E-1,40,0.065973,0.078466,0.000024,0.0,None,,,,,,,
18,,2021-10-26 15:20:47,0.335 sec,44,.75E-2,40,0.045414,0.054227,0.000017,0.0,None,,,,,,,
19,,2021-10-26 15:20:47,0.360 sec,47,.46E-2,40,0.031028,0.037176,0.000012,0.0,None,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0         0             6.112317           1.000000    0.558304
1         1             2.930270           0.479404    0.267653
2         3             1.630303           0.266724    0.148913
..      ...                  ...                ...         ...
17       13             0.002718           0.000445    0.000248
18       30             0.002675           0.000438    0.000244
19       20             0.002645           0.000433    0.000242

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21223


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 4.145E-5 ),"nlambda = 30, lambda.max = 25.741, lambda.min = 4.145E-5, lambda.1...",42,42,75,AutoML_6_20211026_152154_training_Key_Frame__upload_95f25648e4fd86...

ModelMetricsBinomialGLMGeneric: generic
** Reported on train data. **

MSE: 9.259063232616418e-08
RMSE: 0.0003042870886616193
LogLoss: 0.00027436461759833036
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.787264697734
Residual deviance: 13.827976726955871
AIC: 99.82797672695587
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9993511318691692:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999351  1.000000  244.0
1         max f2   0.999351  1.000000  244.0
2   max f0point5   0.999351  1.000000  244.0
..           ...        ...       ...    ...
15       max fnr   0.999657  0.999861    0.0
16       max fpr   0.000153  1.000000  399.0
17       max tpr   0.999351  1.000000  244.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999580,3.5,3.500000,1.0,0.999592,1.000000,0.999592,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999571,3.5,3.500000,1.0,0.999575,1.000000,0.999583,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999563,3.5,3.500000,1.0,0.999567,1.000000,0.999578,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000187,0.0,1.250000,0.0,0.000189,0.357143,0.357097,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000183,0.0,1.111111,0.0,0.000185,0.317460,0.317440,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000151,0.0,1.000000,0.0,0.000178,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

ModelMetricsBinomialGLMGeneric: generic
** Reported on cross-validation data. **

MSE: 1.3823216384314753e-07
RMSE: 0.0003717958631334506
LogLoss: 0.0003351418045058539
Null degrees of freedom: 25199
Residual degrees of freedom: 25157
Null deviance: 30152.790546124306
Residual deviance: 16.891146947095027
AIC: 102.89114694709502
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9991874338777788:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999187  1.000000  241.0
1         max f2   0.999187  1.000000  241.0
2   max f0point5   0.999187  1.000000  241.0
..           ...        ...       ...    ...
15       max fnr   0.999581  0.999861    0.0
16       max fpr   0.000187  1.000000  399.0
17       max tpr   0.999187  1.000000  241.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010000,0.999488,3.5,3.500000,1.0,0.999502,1.000000,0.999502,0.035000,0.035000,250.0,250.000000,0.035000
1,2,0.020040,0.999475,3.5,3.500000,1.0,0.999481,1.000000,0.999491,0.035139,0.070139,250.0,250.000000,0.070139
2,3,0.030000,0.999467,3.5,3.500000,1.0,0.999471,1.000000,0.999485,0.034861,0.105000,250.0,250.000000,0.105000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.800238,0.000228,0.0,1.249628,0.0,0.000230,0.357037,0.356981,0.000000,1.000000,-100.0,24.962809,0.279667
14,15,0.900159,0.000223,0.0,1.110915,0.0,0.000226,0.317404,0.317380,0.000000,1.000000,-100.0,11.091518,0.139778
15,16,1.000000,0.000187,0.0,1.000000,0.0,0.000217,0.285714,0.285714,0.000000,1.000000,-100.0,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
1,auc,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
2,err,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
17,r2,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000
18,recall,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000
19,residual_deviance,2.211224,0.00129,2.209877,2.210418,2.210752,2.212018,2.213052

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:22:00,0.000 sec,2,.26E2,11,1.180871,1.183991,0.000196,0.0,None,,,,,,,
1,,2021-10-26 15:22:00,0.019 sec,4,.16E2,14,1.171491,1.176450,0.000194,0.0,None,,,,,,,
2,,2021-10-26 15:22:00,0.041 sec,6,.99E1,15,1.156669,1.164491,0.000191,0.0,None,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:22:01,0.330 sec,42,.78E-2,43,0.047096,0.056217,0.000004,0.0,None,,,,,,,
18,,2021-10-26 15:22:01,0.354 sec,45,.49E-2,43,0.032200,0.038569,0.000003,0.0,None,,,,,,,
19,,2021-10-26 15:22:01,0.387 sec,48,.3E-2,43,0.021869,0.026275,0.000003,0.0,None,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0         1             4.171094           1.000000    0.281465
1         0             4.159673           0.997262    0.280695
2         4             3.207463           0.768974    0.216440
..      ...                  ...                ...         ...
17       27             0.003290           0.000789    0.000222
18       34             0.002428           0.000582    0.000164
19       30             0.002365           0.000567    0.000160

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1635253645657_21224


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 5.017E-5 ),"nlambda = 30, lambda.max = 31.159, lambda.min = 5.017E-5, lambda.1...",42,39,75,AutoML_7_20211026_152300_training_Key_Frame__upload_a405805df616cf...

ModelMetricsBinomialGLMGeneric: generic
** Reported on train data. **

MSE: 1.2989031152212977e-07
RMSE: 0.0003604029848962544
LogLoss: 0.00032511493255643273
Null degrees of freedom: 25199
Residual degrees of freedom: 25160
Null deviance: 30152.787264696883
Residual deviance: 16.38579260084422
AIC: 96.38579260084421
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9992406651234982:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999241  1.000000  268.0
1         max f2   0.999241  1.000000  268.0
2   max f0point5   0.999241  1.000000  268.0
..           ...        ...       ...    ...
15       max fnr   0.999568  0.999861    0.0
16       max fpr   0.000195  1.000000  399.0
17       max tpr   0.999241  1.000000  268.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.01,0.999497,3.5,3.500000,1.0,0.999511,1.000000,0.999511,0.035,0.035,250.0,250.000000,0.035
1,2,0.02,0.999486,3.5,3.500000,1.0,0.999491,1.000000,0.999501,0.035,0.070,250.0,250.000000,0.070
2,3,0.03,0.999478,3.5,3.500000,1.0,0.999482,1.000000,0.999494,0.035,0.105,250.0,250.000000,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.80,0.000224,0.0,1.250000,0.0,0.000225,0.357143,0.357088,0.000,1.000,-100.0,25.000000,0.280
14,15,0.90,0.000221,0.0,1.111111,0.0,0.000223,0.317460,0.317436,0.000,1.000,-100.0,11.111111,0.140
15,16,1.00,0.000194,0.0,1.000000,0.0,0.000217,0.285714,0.285714,0.000,1.000,-100.0,0.000000,0.000

ModelMetricsBinomialGLMGeneric: generic
** Reported on cross-validation data. **

MSE: 1.9384441843425024e-07
RMSE: 0.00044027766061231207
LogLoss: 0.0003970279090252102
Null degrees of freedom: 25199
Residual degrees of freedom: 25158
Null deviance: 30152.789452196994
Residual deviance: 20.01020661487057
AIC: 104.01020661487057
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9990748337846423:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Maximum Metrics: Maximum metrics at their respective thresholds

          metric  threshold     value    idx
0         max f1   0.999075  1.000000  260.0
1         max f2   0.999075  1.000000  260.0
2   max f0point5   0.999075  1.000000  260.0
..           ...        ...       ...    ...
15       max fnr   0.999475  0.999861    0.0
16       max fpr   0.000232  1.000000  399.0
17       max tpr   0.999075  1.000000  260.0

[18 rows x 4 columns]

Gains/Lift Table: Avg response rate: 28.57 %, avg score: 28.57 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010000,0.999386,3.5,3.500000,1.0,0.999403,1.000000,0.999403,0.035000,0.035000,250.0,250.000000,0.035000
1,2,0.020000,0.999372,3.5,3.500000,1.0,0.999378,1.000000,0.999391,0.035000,0.070000,250.0,250.000000,0.070000
2,3,0.030040,0.999363,3.5,3.500000,1.0,0.999367,1.000000,0.999383,0.035139,0.105139,250.0,250.000000,0.105139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,14,0.800159,0.000273,0.0,1.249752,0.0,0.000274,0.357072,0.357005,0.000000,1.000000,-100.0,24.975203,0.279778
14,15,0.900040,0.000268,0.0,1.111062,0.0,0.000271,0.317446,0.317417,0.000000,1.000000,-100.0,11.106212,0.139944
15,16,1.000000,0.000231,0.0,1.000000,0.0,0.000263,0.285714,0.285714,0.000000,1.000000,-100.0,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,auc,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,err,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
17,r2,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
18,recall,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
19,residual_deviance,2.621204,0.004442,2.623419,2.616053,2.621428,2.617882,2.627238

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2021-10-26 15:23:08,0.000 sec,2,.31E2,8,1.183569,1.186157,0.000162,0.0,None,,,,,,,
1,,2021-10-26 15:23:08,0.020 sec,4,.19E2,9,1.175778,1.179901,0.000162,0.0,None,,,,,,,
2,,2021-10-26 15:23:08,0.040 sec,6,.12E2,11,1.163426,1.169955,0.000161,0.0,None,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,,2021-10-26 15:23:08,0.333 sec,42,.95E-2,40,0.054737,0.065251,0.000024,0.0,None,,,,,,,
18,,2021-10-26 15:23:08,0.355 sec,45,.59E-2,40,0.037532,0.044906,0.000018,0.0,None,,,,,,,
19,,2021-10-26 15:23:08,0.376 sec,48,.37E-2,40,0.025556,0.030675,0.000013,0.0,None,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0         2             4.942804           1.000000    0.373238
1         1             4.209114           0.851564    0.317836
2         3             2.957772           0.598400    0.223345
..      ...                  ...                ...         ...
17       11             0.001614           0.000326    0.000122
18       30             0.001313           0.000266    0.000099
19       25             0.001188           0.000240    0.000090

[20 rows x 4 columns]

See the whole table with table.as_data_frame()

# 3. Evaluating Confusion Matrices

In [85]:
for element, model in models.items():
    print(element, "\n", model.confusion_matrix())

eu

Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

bd

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9990259008864969:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

cs

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.99549422806374:

           False    True Error            Rate
0  False  7138.0     0.0   0.0    (0.0/7138.0)
1   True     0.0  2897.0   0.0    (0.0/2897.0)
2  Total  7138.0  2897.0   0.0   (0.0/10035.0)

sp

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9991173984709539:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

am

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9991498341628031:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

ba

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9993511318691692:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

co

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9992406651234982:

            False    True Error            Rate
0  False  18000.0     0.0   0.0   (0.0/18000.0)
1   True      0.0  7200.0   0.0    (0.0/7200.0)
2  Total  18000.0  7200.0   0.0   (0.0/25200.0)

Probably there is something wrong, also it's strange because the total is varying sometimes, and it was trained with a 25200 rows DataFrame

# 4. Testing on new generated DataFrame

In [46]:
df_test = pd.DataFrame(0.0, index=test_data.index, columns = [str(float(col)) for col in range(1000)])
df_test.update(test_data)

In [47]:
df_test

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,990.0,991.0,992.0,993.0,994.0,995.0,996.0,997.0,998.0,999.0
eu_bd_0,0.0,0.000059,0.000074,0.000782,0.004382,0.009649,0.009693,0.008734,0.007362,0.009796,...,0.000015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eu_bd_6,0.0,0.000074,0.000162,0.000885,0.004456,0.009472,0.010180,0.008941,0.007628,0.009678,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eu_bd_13,0.0,0.000074,0.000059,0.000708,0.004411,0.009413,0.010977,0.008660,0.007628,0.010047,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ba_co_1197,0.0,0.000000,0.000000,0.000000,0.000015,0.000030,0.000162,0.002847,0.013145,0.016598,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ba_co_1198,0.0,0.000000,0.000000,0.000015,0.000015,0.000015,0.000162,0.002479,0.013721,0.016258,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ba_co_1199,0.0,0.000000,0.000000,0.000015,0.000059,0.000000,0.000148,0.002346,0.013057,0.015934,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 4.1 Applying same PCA

In [48]:
df_features_test = pd.DataFrame(processing.apply_pca(df_test, pca_object), index=df_test.index)

### 4.1.1 transforming into h2o object

In [68]:
df_h2o_test = h2o.H2OFrame(df_features_test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [69]:
df_h2o_test

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,has_eu,has_bd,has_cs,has_sp,has_am,has_ba,has_co
-0.00344062,0.0727636,0.0763169,0.0161553,-0.0106857,0.022407,-0.000797371,0.000163216,9.57119e-06,-5.18038e-05,0.000798879,0.0004633,-0.000575878,-0.00112155,-0.000268586,0.000235237,0.00015935,0.000291408,-0.000102473,-0.000184702,-0.000202093,-0.000296824,0.000362572,4.61721e-05,-0.000487071,-0.000384254,-1.83246e-05,0.000330707,-0.000221953,0.000381767,0.000335805,-7.41577e-05,0.000101075,-0.000231792,-0.000216238,-1.04581e-05,2.86744e-05,-0.000343882,0.000411245,-0.000196385,-0.000327261,-0.000325088,True,True,False,False,False,False,False
-0.00277989,0.0726063,0.0740955,0.0163213,-0.0101863,0.0223433,0.000236895,2.48485e-06,-0.000343811,0.00013181,-0.000728263,-0.000168958,-0.000193713,0.000132782,-0.000150278,0.000117792,-0.000115176,-0.000122532,-0.000316776,6.82314e-05,1.74786e-05,-4.08924e-05,0.000672659,-0.000233589,0.00028235,-0.000462656,-0.000424004,0.000162591,-0.000105221,-0.000149985,0.000134152,-0.000516625,0.000362012,0.000355928,0.000253784,-0.000384108,0.000112895,0.000215591,-7.25507e-05,-0.000193842,0.00040201,-0.000356739,True,True,False,False,False,False,False
-0.00327916,0.0726058,0.0770387,0.0165674,-0.0111866,0.0222695,-0.000988526,0.000168905,0.000255901,-0.000160286,0.000168304,0.000272889,0.000122109,-0.000283661,-0.000799597,0.000251314,0.000129732,0.000249672,0.000169563,0.000748985,2.18639e-06,0.0006146,7.37384e-05,-0.000427976,-0.000465643,-0.000258255,-0.000740104,0.000106953,-0.000118501,0.000477697,0.000193758,0.000348413,-0.000360315,-7.21476e-05,-0.000341342,-0.000368723,-0.000300774,0.000211261,-3.21165e-05,0.000425577,-0.000180334,-0.000322085,True,True,False,False,False,False,False
-0.00273888,0.0718412,0.0749954,0.0172429,-0.011026,0.0217354,0.000478823,0.00024454,0.000233026,0.000131378,0.000807876,-0.000366217,-8.54864e-05,0.00109387,0.000693139,-0.000435137,5.75283e-05,1.13644e-05,0.000447466,0.00012385,-0.0012131,-0.000150198,0.000456306,0.000586746,-7.85917e-05,-0.000932848,-0.000110999,8.58056e-06,3.08378e-05,0.00013624,0.000386285,-0.000151142,0.000339391,0.000140195,4.24366e-05,0.000490645,0.00036321,6.9532e-06,0.000611603,-0.000607195,0.000559689,1.93641e-05,True,True,False,False,False,False,False
-0.00334643,0.0724632,0.0757217,0.016561,-0.0112497,0.0220739,-0.000162583,0.000483694,0.00020916,-6.8631e-05,0.000987558,-0.000358487,-6.90815e-05,0.000383845,0.000605022,5.29925e-05,2.92639e-05,0.000108455,-0.00074527,0.00029743,-0.00039726,0.000795817,-0.000114107,1.06534e-05,0.000386196,-3.95739e-05,6.01492e-06,0.000100441,-0.000234277,-0.000280429,0.00018505,0.000377691,-0.000242175,7.52625e-05,-0.000144622,2.2729e-05,0.000222773,-6.12541e-05,3.81242e-05,3.12162e-05,-5.12754e-05,9.89287e-05,True,True,False,False,False,False,False
-0.00298655,0.0727042,0.0747158,0.0166942,-0.0108299,0.0223383,0.000286406,-0.000213667,-0.000213921,0.000236888,-0.00111214,0.000270712,0.000571057,-0.000142363,0.000922589,0.000290238,-0.000278761,9.77176e-05,-9.03485e-05,-9.87387e-05,0.00050846,0.0002955,-0.000308713,0.000459487,-0.000107278,0.000173787,0.000317417,-0.000450767,6.64463e-06,0.000268252,-8.67172e-05,0.000309182,0.00015692,-6.26975e-05,0.000276419,-0.000113783,0.000533856,-0.000539553,-0.00021249,0.000354429,9.12743e-05,-0.000115382,True,True,False,False,False,False,False
-0.00314245,0.0719557,0.0747799,0.0168176,-0.0103692,0.0223549,0.00069074,-0.000430116,0.000168154,0.000467032,-0.00121026,0.00025713,0.000201816,-7.70523e-05,-0.000148767,-0.000195973,-0.000399498,8.10279e-05,4.96887e-06,-0.000266239,5.20801e-05,4.85486e-05,-0.000218168,0.000611347,-0.000304609,0.000416249,-0.000154777,-3.8713e-05,0.000325295,4.04756e-05,-0.000268815,0.000408896,1.8545e-05,-1.00919e-05,-5.22618e-05,0.000230265,0.000232545,-0.000117983,-0.000177011,8.35199e-05,-0.00053008,-9.39737e-05,True,True,False,False,False,False,False
-0.00264531,0.0726153,0.0755563,0.0163607,-0.0110887,0.0225976,-0.000843906,-0.000100539,-6.12482e-05,0.000184138,-0.00169912,0.000326261,0.000286238,6.69771e-05,0.000412764,-0.000205372,0.000129816,0.000212002,-0.000556284,0.000661259,5.61102e-05,0.000232063,0.000468379,-0.000339935,-0.000982164,0.00026095,3.54874e-05,0.000355299,-3.15791e-05,0.000835982,0.000110631,4.5295e-05,0.000196889,-0.000370749,0.000108424,-4.12327e-05,0.000286246,0.000234287,0.000127881,-0.000248556,-0.000188247,-0.000509705,True,True,False,False,False,False,False
-0.00286228,0.0727508,0.0767756,0.0162081,-0.0109229,0.0220031,0.000756815,3.86474e-05,0.000264323,-0.000246079,0.00129201,-0.000251141,-0.000219068,0.000472703,-0.000277922,-0.000176057,-0.000465902,3.98068e-05,9.9286e-06,0.000284919,0.000112416,-0.00068593,0.00107378,-0.000275451,-0.000402405,-3.27968e-05,0.000633272,0.000317552,-0.000324813,-0.000521823,-0.000335853,0.00026987,-0.000611452,-0.000289349,0.00018643,-0.000293316,-0.000179903,0.000451466,0.000550787,0.000134415,0.000144829,0.000283583,True,True,False,False,False,False,False
-0.00331291,0.071868,0.0749039,0.0166532,-0.0107088,0.0222578,0.00028795,-0.000420353,0.000146691,-5.37872e-05,2.79207e-05,-4.8853e-05,0.000682491,0.000483426,0.000941429,9.05566e-05,1.50644e-05,-0.000132065,-0.000260085,0.0001169,0.000344217,-0.000439029,-0.000244426,8.91485e-05,-0.000326223,0.00064759,0.000472929,-4.45326e-05,0.0001313,0.000447839,-1.49493e-05,0.000661985,-8.44804e-06,-0.000105049,7.97543e-05,6.40031e-05,-4.11833e-05,-4.16614e-05,0.000236622,0.000429101,-0.000121347,-0.00030817,True,True,False,False,False,False,False

## 4.2 Labeling DataFrame

In [54]:
for label in energies.keys():
    feng.label_dataframe(df_features_test, label)

In [55]:
df_features_test

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,has_eu,has_bd,has_cs,has_sp,has_am,has_ba,has_co
eu_bd_0,-0.003441,0.072764,0.076317,0.016155,-0.010686,0.022407,-0.000797,0.000163,0.000010,-0.000052,...,-0.000196,-0.000327,-0.000325,True,True,False,False,False,False,False
eu_bd_6,-0.002780,0.072606,0.074096,0.016321,-0.010186,0.022343,0.000237,0.000002,-0.000344,0.000132,...,-0.000194,0.000402,-0.000357,True,True,False,False,False,False,False
eu_bd_13,-0.003279,0.072606,0.077039,0.016567,-0.011187,0.022270,-0.000989,0.000169,0.000256,-0.000160,...,0.000426,-0.000180,-0.000322,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ba_co_1197,-0.075956,0.002689,-0.072538,-0.060299,-0.021543,-0.001522,0.000393,0.000692,-0.000559,0.000625,...,-0.000432,-0.000060,-0.000586,False,False,False,False,False,True,True
ba_co_1198,-0.076040,0.003270,-0.072998,-0.060762,-0.020968,-0.001899,0.000656,0.001036,-0.000509,0.001102,...,-0.000234,0.000064,0.000629,False,False,False,False,False,True,True
ba_co_1199,-0.075506,0.003745,-0.072726,-0.059750,-0.020189,-0.002157,0.001429,0.001504,-0.000962,0.001078,...,0.000022,-0.000011,0.000330,False,False,False,False,False,True,True

## 4.3 Predicting

In [78]:
{
    
}res = models["am"].predict(df_h2o_test).as_data_frame()

generic prediction progress: |███████████████████████████████████████████████████| (done) 100%

In [87]:
res.predict.sum()

6766

In [73]:
df_h2o_test

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,has_eu,has_bd,has_cs,has_sp,has_am,has_ba,has_co
-0.00344062,0.0727636,0.0763169,0.0161553,-0.0106857,0.022407,-0.000797371,0.000163216,9.57119e-06,-5.18038e-05,0.000798879,0.0004633,-0.000575878,-0.00112155,-0.000268586,0.000235237,0.00015935,0.000291408,-0.000102473,-0.000184702,-0.000202093,-0.000296824,0.000362572,4.61721e-05,-0.000487071,-0.000384254,-1.83246e-05,0.000330707,-0.000221953,0.000381767,0.000335805,-7.41577e-05,0.000101075,-0.000231792,-0.000216238,-1.04581e-05,2.86744e-05,-0.000343882,0.000411245,-0.000196385,-0.000327261,-0.000325088,True,True,False,False,False,False,False
-0.00277989,0.0726063,0.0740955,0.0163213,-0.0101863,0.0223433,0.000236895,2.48485e-06,-0.000343811,0.00013181,-0.000728263,-0.000168958,-0.000193713,0.000132782,-0.000150278,0.000117792,-0.000115176,-0.000122532,-0.000316776,6.82314e-05,1.74786e-05,-4.08924e-05,0.000672659,-0.000233589,0.00028235,-0.000462656,-0.000424004,0.000162591,-0.000105221,-0.000149985,0.000134152,-0.000516625,0.000362012,0.000355928,0.000253784,-0.000384108,0.000112895,0.000215591,-7.25507e-05,-0.000193842,0.00040201,-0.000356739,True,True,False,False,False,False,False
-0.00327916,0.0726058,0.0770387,0.0165674,-0.0111866,0.0222695,-0.000988526,0.000168905,0.000255901,-0.000160286,0.000168304,0.000272889,0.000122109,-0.000283661,-0.000799597,0.000251314,0.000129732,0.000249672,0.000169563,0.000748985,2.18639e-06,0.0006146,7.37384e-05,-0.000427976,-0.000465643,-0.000258255,-0.000740104,0.000106953,-0.000118501,0.000477697,0.000193758,0.000348413,-0.000360315,-7.21476e-05,-0.000341342,-0.000368723,-0.000300774,0.000211261,-3.21165e-05,0.000425577,-0.000180334,-0.000322085,True,True,False,False,False,False,False
-0.00273888,0.0718412,0.0749954,0.0172429,-0.011026,0.0217354,0.000478823,0.00024454,0.000233026,0.000131378,0.000807876,-0.000366217,-8.54864e-05,0.00109387,0.000693139,-0.000435137,5.75283e-05,1.13644e-05,0.000447466,0.00012385,-0.0012131,-0.000150198,0.000456306,0.000586746,-7.85917e-05,-0.000932848,-0.000110999,8.58056e-06,3.08378e-05,0.00013624,0.000386285,-0.000151142,0.000339391,0.000140195,4.24366e-05,0.000490645,0.00036321,6.9532e-06,0.000611603,-0.000607195,0.000559689,1.93641e-05,True,True,False,False,False,False,False
-0.00334643,0.0724632,0.0757217,0.016561,-0.0112497,0.0220739,-0.000162583,0.000483694,0.00020916,-6.8631e-05,0.000987558,-0.000358487,-6.90815e-05,0.000383845,0.000605022,5.29925e-05,2.92639e-05,0.000108455,-0.00074527,0.00029743,-0.00039726,0.000795817,-0.000114107,1.06534e-05,0.000386196,-3.95739e-05,6.01492e-06,0.000100441,-0.000234277,-0.000280429,0.00018505,0.000377691,-0.000242175,7.52625e-05,-0.000144622,2.2729e-05,0.000222773,-6.12541e-05,3.81242e-05,3.12162e-05,-5.12754e-05,9.89287e-05,True,True,False,False,False,False,False
-0.00298655,0.0727042,0.0747158,0.0166942,-0.0108299,0.0223383,0.000286406,-0.000213667,-0.000213921,0.000236888,-0.00111214,0.000270712,0.000571057,-0.000142363,0.000922589,0.000290238,-0.000278761,9.77176e-05,-9.03485e-05,-9.87387e-05,0.00050846,0.0002955,-0.000308713,0.000459487,-0.000107278,0.000173787,0.000317417,-0.000450767,6.64463e-06,0.000268252,-8.67172e-05,0.000309182,0.00015692,-6.26975e-05,0.000276419,-0.000113783,0.000533856,-0.000539553,-0.00021249,0.000354429,9.12743e-05,-0.000115382,True,True,False,False,False,False,False
-0.00314245,0.0719557,0.0747799,0.0168176,-0.0103692,0.0223549,0.00069074,-0.000430116,0.000168154,0.000467032,-0.00121026,0.00025713,0.000201816,-7.70523e-05,-0.000148767,-0.000195973,-0.000399498,8.10279e-05,4.96887e-06,-0.000266239,5.20801e-05,4.85486e-05,-0.000218168,0.000611347,-0.000304609,0.000416249,-0.000154777,-3.8713e-05,0.000325295,4.04756e-05,-0.000268815,0.000408896,1.8545e-05,-1.00919e-05,-5.22618e-05,0.000230265,0.000232545,-0.000117983,-0.000177011,8.35199e-05,-0.00053008,-9.39737e-05,True,True,False,False,False,False,False
-0.00264531,0.0726153,0.0755563,0.0163607,-0.0110887,0.0225976,-0.000843906,-0.000100539,-6.12482e-05,0.000184138,-0.00169912,0.000326261,0.000286238,6.69771e-05,0.000412764,-0.000205372,0.000129816,0.000212002,-0.000556284,0.000661259,5.61102e-05,0.000232063,0.000468379,-0.000339935,-0.000982164,0.00026095,3.54874e-05,0.000355299,-3.15791e-05,0.000835982,0.000110631,4.5295e-05,0.000196889,-0.000370749,0.000108424,-4.12327e-05,0.000286246,0.000234287,0.000127881,-0.000248556,-0.000188247,-0.000509705,True,True,False,False,False,False,False
-0.00286228,0.0727508,0.0767756,0.0162081,-0.0109229,0.0220031,0.000756815,3.86474e-05,0.000264323,-0.000246079,0.00129201,-0.000251141,-0.000219068,0.000472703,-0.000277922,-0.000176057,-0.000465902,3.98068e-05,9.9286e-06,0.000284919,0.000112416,-0.00068593,0.00107378,-0.000275451,-0.000402405,-3.27968e-05,0.000633272,0.000317552,-0.000324813,-0.000521823,-0.000335853,0.00026987,-0.000611452,-0.000289349,0.00018643,-0.000293316,-0.000179903,0.000451466,0.000550787,0.000134415,0.000144829,0.000283583,True,True,False,False,False,False,False
-0.00331291,0.071868,0.0749039,0.0166532,-0.0107088,0.0222578,0.00028795,-0.000420353,0.000146691,-5.37872e-05,2.79207e-05,-4.8853e-05,0.000682491,0.000483426,0.000941429,9.05566e-05,1.50644e-05,-0.000132065,-0.000260085,0.0001169,0.000344217,-0.000439029,-0.000244426,8.91485e-05,-0.000326223,0.00064759,0.000472929,-4.45326e-05,0.0001313,0.000447839,-1.49493e-05,0.000661985,-8.44804e-06,-0.000105049,7.97543e-05,6.40031e-05,-4.11833e-05,-4.16614e-05,0.000236622,0.000429101,-0.000121347,-0.00030817,True,True,False,False,False,False,False

In [44]:
X = h2o.H2OFrame(df_features_test)# df.loc[:, df.columns != target_variable]
y = df_features_test.loc[:, "has_sp"]

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [ ]:
model.predict(test_boston.head(3))